In [1]:
#This notebook is about a Coursera project for a course provided by IBM in Data Science with Python
#The dataset below is a traffic colission dataset.

#Those data will feed a Regression model that will predict the potential severity of the a car accident.

#The source of the data: https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
#Metadata: https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

In [271]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib notebook

In [3]:
df = pd.read_csv(r'C:\Users\XV322FQ\Downloads\Data-Collisions.csv')
df.head()

C:\Users\XV322FQ\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [5]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [7]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [8]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [9]:
#<''''''''''''''''''''''''''''''''''''''''''PRE-PROCESSING AND DATA CLEANING'''''''''''''''''''''''''''''''''''''''''''''>

In [10]:
#removing irrelevant data
col_to_drop = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS', 'INTKEY', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
                        'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
                        'PEDROWNOTGRNT', 'SDOTCOLNUM', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']

print('Initial dataframe had ' + str(df.shape[1]) + ' columns.')
print('The number of columns to be drop is: ' + str(len(col_to_drop)))
df.drop(col_to_drop, axis=1, inplace=True)
print('Now the number of columns is reduced to: ' + str(df.shape[1]))

Initial dataframe had 38 columns.
The number of columns to be drop is: 21
Now the number of columns is reduced to: 17

In [11]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
ADDRTYPE           object
LOCATION           object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
SPEEDING           object
dtype: object

In [12]:
for col in df.columns:
    print(col, df[col].isnull().sum())

SEVERITYCODE 0
X 5334
Y 5334
ADDRTYPE 1926
LOCATION 2677
PERSONCOUNT 0
PEDCOUNT 0
PEDCYLCOUNT 0
VEHCOUNT 0
INCDATE 0
INCDTTM 0
INATTENTIONIND 164868
UNDERINFL 4884
WEATHER 5081
ROADCOND 5012
LIGHTCOND 5170
SPEEDING 185340

In [13]:
index = df[df['X'].isnull()].index.to_list()
df.drop(index, inplace=True)

In [14]:
for col in df.columns:
    print(col, df[col].isnull().sum())

SEVERITYCODE 0
X 0
Y 0
ADDRTYPE 0
LOCATION 0
PERSONCOUNT 0
PEDCOUNT 0
PEDCYLCOUNT 0
VEHCOUNT 0
INCDATE 0
INCDTTM 0
INATTENTIONIND 160163
UNDERINFL 4737
WEATHER 4925
ROADCOND 4858
LIGHTCOND 5012
SPEEDING 180619

In [15]:
df.reset_index()
#filling INATTENTIONIND column
df['INATTENTIONIND'] = df['INATTENTIONIND'].fillna(0)
df['INATTENTIONIND'] = df['INATTENTIONIND'].replace('Y', 1)

In [16]:
#filling UNDERINFL column
df['UNDERINFL'] = df['UNDERINFL'].replace("Y", 1)
df['UNDERINFL'] = df['UNDERINFL'].replace("N", 0)
df['UNDERINFL'] = df['UNDERINFL'].fillna(0)

In [17]:
#filling SPEEDING column
df['SPEEDING'] = df['SPEEDING'].fillna(0)
df['SPEEDING'] = df['SPEEDING'].replace("Y", 1)

In [18]:
#filling LIGHTCOND column
df['LIGHTCOND'].value_counts()

Daylight                    113582
Dark - Street Lights On      47314
Unknown                      12432
Dusk                          5775
Dawn                          2422
Dark - No Street Lights       1451
Dark - Street Lights Off      1152
Other                          188
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [19]:
#since the missing values in the LIGHTCOND column is ~2.65% of the total observations,
#no significant bias will be created if we assign the mode value of the column which is "Daylight"
print('Missing values of LIGHTCOND column relative to total obs: ' + str(df[df['LIGHTCOND'].isnull()].shape[0]/df.shape[0]))
df['LIGHTCOND'] = df['LIGHTCOND'].replace(np.nan, 'Daylight')

Missing values of LIGHTCOND column relative to total obs: 0.026471038718911582

In [20]:
for col in df.columns:
    print(col, df[col].isnull().sum())

SEVERITYCODE 0
X 0
Y 0
ADDRTYPE 0
LOCATION 0
PERSONCOUNT 0
PEDCOUNT 0
PEDCYLCOUNT 0
VEHCOUNT 0
INCDATE 0
INCDTTM 0
INATTENTIONIND 0
UNDERINFL 0
WEATHER 4925
ROADCOND 4858
LIGHTCOND 0
SPEEDING 0

In [26]:
df.to_excel(r'C:\Users\XV322FQ\.ssh\projects\Collision-Analysis\data.xlsx', index=False)
#The changes in WEATHER and ROADCOND columns will be made in Excel.

#Because the two variables are depended at some degree, we will assign to the missing values...
#...the mode value of the other variable.
#For example: if the mode value of the WEATHER is Clear when the ROADCOND is Dry, if we miss the WEATHER but have ROADCOND,...
#...Clear value will be assigned to WEATHER.

KeyboardInterrupt:

In [ ]:
print(df[df['ROADCOND']=='Dry']['WEATHER'].value_counts()) # Dry ROADCOND probably means Clear WEATHER
print(df[df['ROADCOND']=='Ice']['WEATHER'].value_counts()) # Ice ROADCOND probably means Clear WEATHER
print(df[df['ROADCOND']=='Oil']['WEATHER'].value_counts()) # Oil ROADCOND probably means Raining WEATHER
print(df[df['ROADCOND']=='Other']['WEATHER'].value_counts()) # Other ROADCOND probably means Clear WEATHER
print(df[df['ROADCOND']=='Standing Water']['WEATHER'].value_counts()) # Standing Water ROADCOND probably means Raining WEATHER
print(df[df['ROADCOND']=='Wet']['WEATHER'].value_counts()) # Wet ROADCOND probably means Raining WEATHER
print(df[df['ROADCOND']=='Unknown']['WEATHER'].value_counts()) # Unknown ROADCOND probably means Unknown WEATHER

In [ ]:
print(df[df['WEATHER']=='Raining']['ROADCOND'].value_counts()) # Raining WEATHER probably means Wet ROADCOND
print(df[df['WEATHER']=='Clear']['ROADCOND'].value_counts()) # Clear WEATHER probably means Dry ROADCOND
print(df[df['WEATHER']=='Other']['ROADCOND'].value_counts()) # Other WEATHER probably means Unknown ROADCOND
print(df[df['WEATHER']=='Overcast']['ROADCOND'].value_counts()) # Overcast WEATHER probably means Dry ROADCOND
print(df[df['WEATHER']=='Unknown']['ROADCOND'].value_counts()) # Unknown WEATHER probably means Unknown ROADCOND

In [163]:
df = pd.read_excel(r'C:\Users\XV322FQ\.ssh\projects\Collision-Analysis\data.xlsx')
for col in df.columns:
    print(col, df[col].isnull().sum())

SEVERITYCODE 0
X 0
Y 0
ADDRTYPE 0
LOCATION 0
PERSONCOUNT 0
PEDCOUNT 0
PEDCYLCOUNT 0
VEHCOUNT 0
INCDATE 0
INCDTTM 0
INATTENTIONIND 0
UNDERINFL 0
WEATHER 0
ROADCOND 0
LIGHTCOND 0
SPEEDING 0

In [155]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
ADDRTYPE           object
LOCATION           object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
INATTENTIONIND      int64
UNDERINFL           int64
WEATHER            object
ROADCOND           object
LIGHTCOND          object
SPEEDING            int64
dtype: object

In [34]:
#<'''''''''''''''''''FROM HERE WILL PROCESS QUALITATIVE VARIABLES THAT CANNOT BE CONVERTED INTO DUMMIES''''''''''''''''''>

In [164]:
from collections import Counter
c = Counter(df['LOCATION'])
print('100 MOST COMMON ACCIDENT LOCATIONS:\n')
for i in c.most_common()[:100]:
    print(i)

100 MOST COMMON ACCIDENT LOCATIONS:

('N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N', 260)
('AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST', 247)
('6TH AVE AND JAMES ST', 241)
('AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST', 235)
('RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLELLAN ST', 229)
('WEST SEATTLE BR EB BETWEEN ALASKAN WY VI NB ON RP AND DELRIDGE-W SEATTLE BR EB ON RP', 209)
('AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N', 182)
('1ST AVE BETWEEN BLANCHARD ST AND BELL ST', 161)
('5TH AVE AND SPRING ST', 156)
('RAINIER AVE S BETWEEN S HENDERSON ST AND S DIRECTOR N ST', 151)
('RAINIER AVE S BETWEEN S DEARBORN ST AND S CHARLES N ST', 144)
('RAINIER AVE S BETWEEN S CHARLESTOWN ST AND S ANDOVER ST', 140)
('5TH AVE AND VIRGINIA ST', 135)
('5TH AVE AND UNION ST', 135)
('NE NORTHGATE WAY BETWEEN 5TH AVE NE AND 8TH AVE NE', 133)
('NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AVE NE', 130)
('OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW', 129)
('RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HENDERSON ST', 128)
('MONTLAKE BLVD NE BETWEEN NE PACIFIC PL AND 25TH AVE NE', 126)
('12TH AVE AND E MADISON ST', 126)
('RAINIER AVE S AND S ORCAS ST', 126)
('5TH AVE AND UNIVERSITY ST', 125)
('1ST AVE BETWEEN UNION ST AND PIKE ST', 123)
('EAST MARGINAL WAY S BETWEEN S FIDALGO ST AND 1ST AVE S', 120)
('RAINIER AVE S BETWEEN S OREGON ST AND S ALASKA ST', 120)
('N NORTHGATE WAY BETWEEN CORLISS AVE N AND 1ST AVE NE', 120)
('JAMES ST BETWEEN 6TH AVE AND 7TH AVE', 119)
('ELLIOTT AVE W BETWEEN W MERCER ST AND W MERCER PL', 118)
('S MICHIGAN ST BETWEEN 7TH AVE S AND CORSON AVE S', 117)
('RAINIER AVE S BETWEEN S ALASKA ST AND S ANGELINE ST', 117)
('5TH AVE AND PIKE ST', 115)
('BOREN AVE AND PIKE ST', 114)
('DENNY WAY BETWEEN STEWART ST AND MELROSE AVE', 114)
('AURORA AVE N BETWEEN N 143RD ST AND ROOSEVELT WAY N', 113)
('AURORA AVE N BETWEEN N 125TH ST AND N 127TH ST', 113)
('23RD AVE E AND E JOHN ST', 113)
('HIGHLAND PARK WAY SW BETWEEN WEST MARGINAL WAY SW AND SW OTHELLO ST', 112)
('BROADWAY E AND E OLIVE WAY', 112)
('1ST AVE AND MARION ST', 111)
('ALASKAN WY VI NB BETWEEN S HOLGATE ST AND SR99 REPUBLICAN OFF RP', 107)
('RAINIER AVE S BETWEEN S MCCLELLAN ST AND S FOREST ST', 105)
('DELRIDGE WAY SW BETWEEN SW KENYON ST AND SW THISTLE ST', 103)
('EAST MARGINAL WAY S BETWEEN S MICHIGAN ST AND 4TH AVE S', 103)
('5TH AVE AND SENECA ST', 102)
('LAKE CITY WAY NE BETWEEN NE 125TH ST AND NE 127TH ST', 102)
('6TH AVE AND CHERRY ST', 101)
('N 85TH ST BETWEEN LINDEN AVE N AND AURORA AVE N', 101)
('GREENWOOD AVE N AND HOLMAN RD N', 101)
('12TH AVE AND E YESLER WAY', 100)
('S GRAHAM ST BETWEEN 33RD AVE S AND M L KING JR WR WAY S', 99)
('1ST AVE BETWEEN BELL ST AND BATTERY ST', 98)
('RAINIER AVE S BETWEEN S HUDSON ST AND 39TH N AVE S', 98)
('2ND AVE AND JAMES ST', 96)
('DENNY WAY AND DEXTER AVE', 96)
('RAINIER AVE S BETWEEN S HOLLY ST AND S WILLOW ST', 96)
('CORSON AVE S AND S MICHIGAN ST', 96)
('1ST AVE BETWEEN STEWART ST AND VIRGINIA ST', 96)
('ALASKAN WY VI SB BETWEEN S LANDER ST AND ALASKAN WY VI SB WSB WB OFF RP', 96)
('BOREN AVE AND OLIVE WAY', 95)
('1ST AVE AND SPRING ST', 95)
('WEST SEATTLE BR EB BETWEEN 1ST AV S OFF RP AND SPOKANE ST - W SEA B RP', 95)
('4TH AVE S BETWEEN I90 WB 4TH AV OFF RP AND S ROYAL BROUGHAM WAY', 95)
('RAINIER AVE S BETWEEN S ADAMS ST AND S GENESEE N ST', 94)
('1ST AVE BETWEEN VIRGINIA ST AND LENORA ST', 94)
('LAKE WASHINGTON BLVD E BETWEEN BOYER AVE E AND E FOSTER ISLAND RD', 93)
('WEST MARGINAL WAY S BETWEEN 1ST AVE S AND S HOLDEN ST', 93)
('ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR OFF RP AND S HOLGATE ST', 92)
('NE NORTHGATE WAY BETWEEN 8TH AVE NE AND ROOSEVELT WAY NE', 92)
('1ST AVE BETWEEN PIKE ST AND PINE ST', 92)
('4TH AVE S AND S JACKSON ST', 92)
('4TH AVE S BETWEEN S STACY ST AND S LANDER ST', 91)
('16TH AVE SW AND SW HOLDEN ST', 91)
('6TH AVE AND UNIVERSITY ST', 90)
('2ND AVE AND SPRING ST', 90)
('FAIRVIEW AVE N AND MERCER ST', 90)
('N 105TH ST BETWEEN WHITMAN AVE N AND AURORA AVE N', 90)
('OLSON PL SW BETWEEN 3RD AVE SW AND SW CAMBRIDGE PL', 90)
('RAINIER AVE S BETWEEN S KENNY ST AND S GRAHAM ST', 90)
('1ST AVE BETWEEN LENORA ST AND BLANCHARD ST', 89)
('RAINIER AVE S BETWEEN S ANGELINE ST AND S EDMUNDS ST', 89)
('AURORA AVE N BETWEEN N 135TH ST AND N 137TH ST', 89)
('AURORA AVE N AND N 128TH ST', 89)
('35TH AVE SW AND SW AVALON WAY', 89)
('ALASKAN WY VI NB BETWEEN ALASKAN WY VI NB ON RP AND S LANDER ST', 88)
('ELLIOTT AVE W BETWEEN W PROSPECT ST AND W LEE ST', 88)
('5TH AVE AND OLIVE WAY', 88)
('15TH AVE NE AND NE 75TH ST', 88)
('S JACKSON ST BETWEEN 12TH AVE S AND 14TH AVE S', 88)
('AURORA AVE N BETWEEN N 115TH ST AND N 117TH PL', 87)
('1ST AVE S BETWEEN S MASSACHUSETTS ST AND S HOLGATE ST', 87)
('JAMES ST BETWEEN 7TH AVE AND 8TH AVE', 87)
('1ST AVE S BETWEEN S ROYAL BROUGHAM WAY AND S ATLANTIC ST', 86)
('MERCER SR ST BETWEEN BOREN AVE N AND FAIRVIEW N AVE N', 86)
('BROADWAY AND E PIKE ST', 85)
('LAKE CITY WAY NE BETWEEN NE 143RD ST AND NE 145TH ST', 85)
('LAKE CITY WAY NE AND NE 125TH ST', 85)
('25TH AVE NE AND NE 75TH ST', 85)
('5TH AVE AND BATTERY ST', 85)
('4TH AVE AND PINE ST', 85)
('16TH AVE SW BETWEEN SW FINDLAY ST AND SW MORGAN ST', 85)

In [165]:
df.drop(['LOCATION'], axis=1, inplace=True)

In [166]:
lst=[]
for i in df['INCDATE']:
    i = i[:10][5:7] #taking the Date and then the Month
    lst.append(i)
c1 = Counter(lst)
c1.most_common()

[('10', 16794),
 ('06', 15841),
 ('05', 15792),
 ('11', 15760),
 ('07', 15609),
 ('08', 15562),
 ('01', 15487),
 ('03', 15343),
 ('09', 15226),
 ('04', 15166),
 ('12', 14724),
 ('02', 13224)]

In [167]:
#Accidents are almost evenly distributed through the year, so no obvious attention need for a specific month
df.drop(['INCDATE'], axis=1, inplace=True)

In [168]:
lst=[]
for i in df['INCDTTM']:
    i = i[-10:]
    lst.append(i)
c1 = Counter(lst)
print('10 MOST LIKELY TIMES DURING THE DAY FOR ACCIDENTS TO HAPPEN:\n')
for time in c1.most_common()[:10]:
    print(time)
    
#Here it is obvious that a lot of accident happen during daytime from 1:00 to 6:00 PM, except for 0:00 AM and 1:00 AM

10 MOST LIKELY TIMES DURING THE DAY FOR ACCIDENTS TO HAPPEN:

('2:00:00 PM', 2194)
('1:00:00 PM', 1695)
('2:30:00 PM', 1177)
('5:00:00 PM', 1122)
('1:00:00 AM', 1102)
('6:00:00 PM', 1059)
('3:00:00 PM', 1010)
('4:00:00 PM', 1000)
('1:30:00 PM', 875)
('0:00:00 AM', 870)

In [171]:
df.drop(['INCDTTM'], axis=1, inplace=True)

In [209]:
df1 = pd.get_dummies(df)
df1.dtypes

SEVERITYCODE                            int64
X                                     float64
Y                                     float64
PERSONCOUNT                             int64
PEDCOUNT                                int64
PEDCYLCOUNT                             int64
VEHCOUNT                                int64
INATTENTIONIND                          int64
UNDERINFL                               int64
SPEEDING                                int64
ADDRTYPE_Block                          uint8
ADDRTYPE_Intersection                   uint8
WEATHER_Blowing Sand/Dirt               uint8
WEATHER_Clear                           uint8
WEATHER_Fog/Smog/Smoke                  uint8
WEATHER_Other                           uint8
WEATHER_Overcast                        uint8
WEATHER_Partly Cloudy                   uint8
WEATHER_Raining                         uint8
WEATHER_Severe Crosswind                uint8
WEATHER_Sleet/Hail/Freezing Rain        uint8
WEATHER_Snowing                         uint8
WEATHER_Unknown                         uint8
ROADCOND_Dry                            uint8
ROADCOND_Ice                            uint8
ROADCOND_Oil                            uint8
ROADCOND_Other                          uint8
ROADCOND_Sand/Mud/Dirt                  uint8
ROADCOND_Snow/Slush                     uint8
ROADCOND_Standing Water                 uint8
ROADCOND_Unknown                        uint8
ROADCOND_Wet                            uint8
LIGHTCOND_Dark - No Street Lights       uint8
LIGHTCOND_Dark - Street Lights Off      uint8
LIGHTCOND_Dark - Street Lights On       uint8
LIGHTCOND_Dark - Unknown Lighting       uint8
LIGHTCOND_Dawn                          uint8
LIGHTCOND_Daylight                      uint8
LIGHTCOND_Dusk                          uint8
LIGHTCOND_Other                         uint8
LIGHTCOND_Unknown                       uint8
dtype: object

In [325]:
#making binary
df1['SEVERITYCODE'] = df1['SEVERITYCODE'].replace(1, 0)
df1['SEVERITYCODE'] = df1['SEVERITYCODE'].replace(2, 1)

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INATTENTIONIND,UNDERINFL,SPEEDING,WEATHER_Blowing Sand/Dirt,WEATHER_Clear,...,ROADCOND_Wet,LIGHTCOND_Dark - No Street Lights,LIGHTCOND_Dark - Street Lights Off,LIGHTCOND_Dark - Street Lights On,LIGHTCOND_Dark - Unknown Lighting,LIGHTCOND_Dawn,LIGHTCOND_Daylight,LIGHTCOND_Dusk,LIGHTCOND_Other,LIGHTCOND_Unknown
0,1,2,0,0,2,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,0,2,0,0,2,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2,0,4,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,3,0,0,3,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,1,2,0,0,2,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184523,1,3,0,0,2,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
184524,0,2,0,0,2,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
184525,1,3,0,0,2,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
184526,1,2,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
184527,0,2,0,0,2,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0

In [344]:
#normalizing
df1['PERSONCOUNT'] = df1['PERSONCOUNT'] / df1['PERSONCOUNT'].max()
df1['PEDCOUNT'] = df1['PEDCOUNT'] / df1['PEDCOUNT'].max()
df1['PEDCYLCOUNT'] = df1['PEDCYLCOUNT'] / df1['PEDCYLCOUNT'].max()
df1['VEHCOUNT'] = df1['VEHCOUNT'] / df1['VEHCOUNT'].max()

In [355]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X = df1.drop(['SEVERITYCODE'],axis=1)
Y = df1['SEVERITYCODE']

x_train, x_test, y_train, y_test = train_test_split(X,Y)
lr.fit(x_train, y_train)
lr.score(x_train,y_train)

C:\Users\XV322FQ\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7485693228127981

In [357]:
yhat = lr.predict(x_test)
confusion_matrix(y_test, yhat)

array([[31502,   629],
       [10881,  3120]], dtype=int64)

In [ ]:
#the model has a good R_squared and can predict really well when it's a property damage
#but performs poorly when it comes to predict when it's likely to be an injury